<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      a {
        text-decoration: none;
        color: #1495ff;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body style="padding:0;margin:0;font-family:'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN','Hiragino Sans', Meiryo, sans-serif;font-size:15px;font-weight:400;line-height: 1.5;color:#333; background:#f8fafc;">
    <%= yield %>
  </body>
</html>
